* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: rgba(255, 255, 0, 0.4);
    background-color: rgba(85, 5, 131, 0.719)
}

table {
    background-color:  rgba(85, 5, 131, 0.719);
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
    margin-bottom: 1rem;
    

}

td {
    color: rgba(255, 255, 0, 0.4);
    border-width: 3px;
    border-color:  rgba(255, 255, 0, 0.4);
    border-collapse: separate;
    border-style: solid;
    padding: 5px;
    
}

table a {
    color:  rgba(255, 255, 0, 0.4);
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}


header {
    background-color: white;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: .5rem  solid rgba(85, 5, 131, 0.719);
}

.submark{
    height: 90%;
    float: left;
}

header ul {
    float: right;
    display: flex;
}

header li{
    display: flex;
    padding: 2rem;
    color: black;
}
.content {
    position: relative;
    top: 90px;
}

/* Intro content */

.intro {
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 30rem;
    background-image: url("images/coverphoto.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
}

p {
    margin: 3rem 10rem;
}

body {
    background-color: black;
}

h3 {
    margin: 1rem;

}

a {
    color: black;
}

h4 {
    margin: 1rem;
}

/* Screen sizes */

@media only screen and (max-width: 750px) {
    p {
        margin: 3rem .5rem
    }
    .submark {
        display: none;
    }

    header ul {
        float: none;
        margin: 0 auto;
    }

    header li {
        padding: 1rem;
    }

    header {
        display: flex;
    }
}