* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: white;
}

html {
    background-color: black;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: rgba(255, 255, 0, 0.4);
    background-color: rgba(85, 5, 131, 0.719)
}

h3 {
    line-height: 2;
}

.logo {
    width: 100%;
    height: auto;
}

.image-container {
    overflow: hidden;
    height: 17rem;
    width: 13rem;
    background-color: rgb(81, 8, 99);
    margin: 1rem;
    padding-top: 1rem;
}

.image-container img{
    width: 90%;
    height: 70%;
}

.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.copper  img{
    height: 50%;
}