* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: white;
}

html {
    background-color: black;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: rgba(255, 255, 0, 0.4);
    background-color: rgba(85, 5, 131, 0.719)
}

h3 {
    line-height: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    width: 100%;
    height: auto;
}

.order{
    display: flex;
    height: 3rem;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

i {
    color: white;
    background-color: blue;
    padding: .25rem;
}

.order h3 {
    color: black;
    font-size: 1rem;
}

.divider h2 {
    color: white;
    background-color: black;
    padding-top: 1rem;
    border-bottom: 5px solid white;
}

.image-container {
    overflow: hidden;
    height: 19rem;
    width: 14rem;
    background-color: rgb(81, 8, 99);
    margin: 1rem;
    padding-top: 1rem;
    border: solid 5px rgba(255, 255, 0, 0.4);
}

.image-container-soldOut {
    overflow: hidden;
    height: 19rem;
    width: 14rem;
    background-color: rgb(81, 8, 99);
    margin: 1rem;
    padding-top: 1rem;
    border: solid 5px rgba(255, 255, 0, 0.4);
}

.image-container-long {
    overflow: hidden;
    height: 27rem;
    width: 14rem;
    background-color: rgb(81, 8, 99);
    margin: 1rem;
    padding-top: 1rem;
    border: solid 5px rgba(255, 255, 0, 0.4);
    
}

.image-container-long img{
    width: 90%;
    height: 80%;
}

.image-container-soldOut img{
    width: 90%;
    height: 50%;
}

.image-container img{
    width: 90%;
    height: 60%;
}

.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.copper  img{
    height: 50%;
}

.image-container-tote {
    overflow: hidden;
    height: 17rem;
    width: 17rem;
    background-color: rgb(81, 8, 99);
    margin: 1rem;
    padding-top: 1rem;
    border: solid 5px rgba(255, 255, 0, 0.4);
    

}

.image-container-tote img{
    width: 90%;
    height: 70%;
}
.sold-out {
    color: red;
}

.wooden-crosses h3 {
    line-height: 1.75;
}

.almost {
    color: cornflowerblue;
    font-size: 1.5rem;
    font-weight: 900;
}

.text-copper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

